@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
    --color-yellow: #e7d393;
    --color-white-100: #efefef;

    --font-sans: "Inter", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-serif: "DM Serif Text", serif;
}

html,
body {
    width: 100%;
    background-color: black;
    z-index: -1;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


@utility flex-center {
    @apply flex justify-center items-center;
}

@utility col-center {
    @apply flex flex-col justify-center items-center;
}

@utility abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}




.navbar{
  border-bottom:solid 1px white ;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 50;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.navbar p{
  font-size: 30px;
}

.navbar ul{
  display: flex;
  justify-content: space-between;
  gap:30px;
}

.navbar ul li a {
    transition: transform 0.3s, color 0.3s;
    display: inline-block;
}

.navbar ul li a:hover{
    transform: scale(1.2);
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* empilha logo e menu */
    padding: 10px 20px;
    height: auto; /* deixa a navbar ajustar altura */
  }

  .navbar ul {
    flex-direction: row; /* menu vertical */
    gap: 15px; /* menos espaço entre links */
    width: 100%; /* ocupa largura inteira */
    align-items: center; /* centraliza links */
  }

  .navbar ul li a {
    font-size: 14px; /* reduz tamanho da fonte */
  }
}





#hero {
    position: relative;
    z-index: 10;
    min-height: 100dvh;
    width: 100%;
    border: 1px solid transparent;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("https://images.unsplash.com/photo-1565299624946-b28f40a0ae38"); /* exemplo real */
    background-size: cover;        /* cobre toda a área */
    background-position: center;   /* centraliza a imagem */
    background-repeat: no-repeat;  /* evita repetição */
  }

  .body{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top: auto;
    bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 1280px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  @media (min-width: 768px) { /* md:top-[30vh] */
    .body {
        top: 30vh;
    }
}

.body .content{
  display:flex;
  flex-direction: column;
  width: 100%;
  gap:2.5rem;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1024px) { /* lg:flex-row */
    .body .content {
        flex-direction: row;
        align-items: flex-end;
    }
}

.body .content p:nth-of-type(2){
  font-family: var(--font-serif), sans-serif;
  font-size: 3.3rem;
  color:#d4ac0d;
  max-width: 36rem;
}

.body .content p:last-of-type{
  text-align: center;
}

@media (min-width: 1536px) { /* 2xl:text-start */
    .body .content p:last-of-type {
        text-align: start;
    }
}

.body .content .view-menu {
    display: flex;
    flex-direction: column;
    gap: 1.25rem; /* space-y-5 */
    font-size: 1.125rem; /* text-lg */
    width: 100%;
    max-width: 16rem; /* lg:max-w-2xs */
}

@media (min-width: 768px) { /* md:max-w-xs */
    .body .content .view-menu {
        max-width: 20rem;
    }
}

.body .content .view-menu p {
    text-align: left;
}

.body .content .view-menu a {
    font-weight: 600; /* font-semibold */
    opacity: 0.8;
    text-align: center;
    transition: color 0.3s;
    cursor: pointer;
    text-align: start;
    padding-left: 3px;
    display: inline-block;
    width: fit-content;
}

@media (min-width: 1536px) { /* 2xl:text-start */
    .body .content .view-menu a {
        text-align: start;
    }
}

.body .content .view-menu a:hover {
    color: #e7d393; /* hover:text-yellow */
}



#menu {
    position: relative;
    min-height: 100dvh;
    width: 100%;
    overflow: hidden;
}

#menu .container{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5rem;
    padding-top: 10rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-bottom: 5rem;
}

#menu .container .mini-container{
    display: flex;
    flex-direction: column;
    gap:2rem;
    width: 100%;
}

#menu .container .mini-container h2{
    color: #d4ac0d;
}

#menu .container ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#menu .container ul li{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#menu .container ul li h3{
    font-family: var(--font-serif);
    font-size: 1.25rem;
    color: #f9dc68;
}

#menu .container ul li p{
    font-size: 0.875rem;
}

#menu .container ul li span{
    font-size: 1.25rem;
    font-weight: 500;
    white-space: nowrap;
}

@media (min-width: 768px) {

    #menu .container {
        flex-direction: row;
    }

    #menu .container .mini-container {
        width: fit-content;
    }

}

/* 2xl breakpoint */
@media (min-width: 1536px) {
    #menu .container {
        padding-left: 0;
        padding-right: 0;
    }

    #menu .container ul li h3 {
        font-size: 1.875rem;
    }
}




#about{
    min-height: 100vh;
    padding-top: 7rem;
    padding-bottom: 7rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

#about .container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
}

@media (min-width: 1024px) { /* lg */
    #about .container {
        grid-template-columns: repeat(12, 1fr);
    }
}

#about .container h2{
    font-size: 3rem;
    font-family: var(--font-serif);
    max-width: 32rem;
}

@media (min-width: 768px) { /* md */
    #about .container h2 {
        font-size: 3.75rem; /* md:text-6xl */
    }
}

#about .container .sub-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:1.25rem;
}

@media (min-width: 768px) { /* md */
    #about .container .sub-content {
        grid-column: span 4 / span 4; /* md:col-span-4 */
        gap: 0.5rem; /* md:gap-2 */
    }
}

#about .container .sub-content p {
    font-size: 1.125rem; /* text-lg */
}


#about .top-grid,
#about .bottom-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap:1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

@media (min-width: 768px) { /* md */
    #about .bottom-grid {
        grid-template-columns: repeat(12,1fr); /* md:grid-cols-12 */
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 1280px) { /* xl */
    #about .top-grid {
        grid-template-columns: repeat(12, 1fr);
        padding-left: 0;
        padding-right: 0;
    }
}

#about .top-grid > div,
#about .bottom-grid > div {
    border-radius: 1.5rem; /* rounded-3xl */
    overflow: hidden;
    height: 18rem; /* h-72 */
    position: relative;
}

#about .top-grid img,
#about .bottom-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery{
    display:flex;
    flex-direction:column;
    gap:1.25rem;
}