@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
    --color-yellow: #e7d393;
    --color-white-100: #efefef;

    --font-sans: "Inter", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-serif: "DM Serif Text", serif;
}

html,
body {
    width: 100%;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


.navbar{
  border-bottom:solid 1px white ;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  height: 80px;
}

.navbar p{
  font-size: 30px;
}

.navbar ul{
  display: flex;
  justify-content: space-between;
  gap:30px;
}

.navbar ul li a {
    transition: transform 0.3s, color 0.3s;
    display: inline-block;
}

.navbar ul li a:hover{
    transform: scale(1.2);
}



#hero {
    position: relative;
    z-index: 10;
    min-height: 100dvh;
    width: 100%;
    border: 1px solid transparent;
}