@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:wght@200..900&family=DM+Serif+Text:ital@0;1&display=swap");
@import "tailwindcss";

/* 2️⃣ Fontes customizadas */
@font-face {
    font-family: "Modern Negra";
    src: url("/fonts/Modern Negra Demo.ttf") format("truetype");
}

/* 3️⃣ Variáveis de tema (cores, fontes, etc.) */
@theme {
    --color-primary: #a67c52; /* castanho */
    --color-secondary: #efefef; /* branco */
    --font-roboto: "Roboto", sans-serif;
    --font-serif: "DM Serif Text", serif;
    --font-display: "Modern Negra", sans-serif;
}

@utility flex-center {
    @apply flex justify-center items-center;
}

/* 4️⃣ Reset / base */
html, body {
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
    color: black;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

    nav {
        @apply fixed z-50 w-full;

        div {
            @apply flex md:flex-row flex-col md:justify-between items-center gap-5 py-5 lg:px-0 px-5 container mx-auto;
        }

        p {
            @apply font-roboto text-3xl -mb-2;
        }

        a {
            @apply cursor-pointer text-nowrap md:text-base text-sm;
        }

        ul {
            @apply flex-center lg:gap-12 gap-7;
        }
    }